<ion-card *ngIf="this.action" class="
  {{this.action_css}}
  priority-{{this.action.priority}}
  done-{{this.action | done}}
">
  <ion-card-content>
    <div class="flex-card">

      <!-- left buttons -->
      <ion-button
        *ngIf='this.current_page === "view"'
        (click)="this.actionService.clickAction(this.action.id)"
        class="flex-items">Done
      </ion-button>
      <ion-button
        *ngIf='this.current_page === "list"'
        (click)="this.actionService.unDone(this.action.id)"
        class="flex-items">Reset
      </ion-button>

      <!-- action name -->
      <div class="flex-items done-{{this.action | done}}">
        <ion-card-title>{{this.action.name}}</ion-card-title>
        <ion-card-subtitle>{{this.action.category}}</ion-card-subtitle>
      </div>

      <!-- action details -->
      <div class="flex-items">
        <div>{{this.action.time}} min</div>
        <div *ngIf="this.action.repetition==='ONCE'">One time</div>
        <div *ngIf="this.action.repetition==='DAILY'">
          Every day, reset at {{this.action.repetition_hour}}:00
        </div>
        <div *ngIf="this.action.repetition==='WEEKLY'">
          Every week, reset on {{this.actionService.get_day_from_number(this.action.repetition_day)}}
            at {{this.action.repetition_hour}}:00
        </div>
      </div>

      <!-- right buttons -->
      <div class="flex-col flex-items">
        <ion-button
          *ngIf='this.current_page === "change"'
          routerLink="/preparation/edit/{{this.action.id}}"
        >Edit</ion-button>
        <ion-button
          *ngIf='this.current_page === "change"'
          (click)="this.actionService.deleteAction(this.action.id)"
        >Delete</ion-button>
      </div>

    </div>
  </ion-card-content>
</ion-card>
