<ion-header>
  <ion-toolbar>
    <ion-title>
      <header>
        <app-header page_title="Prep ..."></app-header>
      </header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button slot="fixed" class="left-btn" (click)="back()">Back</ion-button>
  <ion-button slot="fixed" class="right-btn" (click)="confirm()">Confirm</ion-button>

  <br>
  <!-- <ion-button (click)="this.actionService.refresh()">Refresh</ion-button> -->
  <app-button-refresh></app-button-refresh>
  <br><br>


  <div *ngIf="this.actionService.current_view==='Actions'">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorderActions($any($event))">
      <ion-item *ngFor="let action of this.actionService.temp_action_list">

        <ion-reorder slot="start"></ion-reorder>
        <app-action-card
          [action]="action"
          action_css="action-edit"
          current_page="change">
        </app-action-card>

      </ion-item>
    </ion-reorder-group>
  </div>

  <div *ngIf="this.actionService.current_view==='Categories'">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorderCategories($any($event))">
      <ion-item *ngFor="let category of this.actionService.categories">

        <ion-reorder slot="start"></ion-reorder>
        <div *ngIf="!show_update[category]">
          <app-category-card
            [folded]="this.actionService.category_folded[category]"
            [name]="category"
            current_page="change"
          ></app-category-card>
        </div>
        <div *ngIf="show_update[category]">
          <app-form-category
           (submitted)="on_update_category(category, $event)"
           [show_button]="false"
           [init]="category"
          ></app-form-category>
        </div>
        <!-- add delete category button -->

        <div class="flex-col flex-items" *ngIf="category!=='No category'">
          <ion-button (click)="on_click_edit_category(category)"
          >Edit</ion-button>
          <ion-button (click)="on_click_delete_category(category)"
          >Delete</ion-button>
        </div>

      </ion-item>
    </ion-reorder-group>
  </div>

  <p class="margin-bot"></p>
</ion-content>

<!--

            routerLink="/preparation/edit/{{this.action.id}}"
            (click)="this.actionService.deleteAction(this.action.id)"
 -->
