<ion-header>
  <ion-toolbar>
    <ion-title>
      <header>
        <app-header page_title="Create !"></app-header>
      </header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-form-action
    *ngIf="this.formActionComponent"
    [init]="item"
    (submitted)="onAdd($event)"
    class="form-action"
  ></app-form-action>

  <!-- <input type="button" value="submit" (click)="yeetSubmit()"> -->

  <ion-button slot="fixed" class="left-btn" routerLink="/preparation">Back</ion-button>
  <ion-button slot="fixed" class="right-btn" (click)="yeetSubmit()" routerLink="/preparation">Confirm</ion-button>

  <p class="margin-bot"></p>
</ion-content>

