<form
  #myForm="ngForm"
  [formGroup]='form'
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <label for="name">name : </label>
    <input formControlName="name" type="text" class="form-control" id="name">
  </div>
  <br>
  <div class="flex-priority form-group">
    <label for="priority">priority : </label>
    <ion-list lines="none">
      <ion-radio-group formControlName="priority" [value]="this.init.priority" class="flex-priority">
        <ion-item>
          <ion-label><app-priority-icon [priority]="0"></app-priority-icon></ion-label>
          <ion-radio slot="start" [value]="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label><app-priority-icon [priority]="1"></app-priority-icon></ion-label>
          <ion-radio slot="start" [value]="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label><app-priority-icon [priority]="2"></app-priority-icon></ion-label>
          <ion-radio slot="start" [value]="2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label><app-priority-icon [priority]="3"></app-priority-icon></ion-label>
          <ion-radio slot="start" [value]="3"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- <select formControlName='priority' class="priority{{form.value.priority}}">
      <option *ngFor="let choice of priority_choices" [ngValue]="choice" class="priority-{{choice}}">
        {{choice}}
      </option>
    </select> -->
    <!-- <input formControlName='priority' type="number" class="form-control" id="priority"> -->
  </div>
  <br>
  <div class="form-group">
    <label for="time">time : </label>
    <input formControlName="time" type="number" class="form-control" id="time">
  </div>
  <br>
  <div class="form-group">
    <label for="repetition">repetition : </label>
    <select formControlName='repetition'>
      <option *ngFor="let choice of repetition_choices" [ngValue]="choice">
        {{choice}}
      </option>
    </select>
    <!-- <input type="text" class="form-control" id="repetition"> -->
  </div>
  <br>
  <div class="form-group">
    <label for="repetition_hour">hour of reset : </label>
    <input formControlName='repetition_hour' type="text" class="form-control" id="repetition_hour">
  </div>
  <br>
  <div class="form-group">
    <label for="repetition_day">day of reset : </label>
    <input formControlName='repetition_day' type="text" class="form-control" id="repetition_day">
  </div>
  <br>
  <!-- <ion-button type="submit"
    slot="fixed" class="right-btn"
    routerLink="/preparation"
  >Confirm</ion-button> -->
  <!-- <p>invalid: {{form.invalid}}</p> -->
</form>

