<form
  #myForm="ngForm"
  [formGroup]='form'
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <label for="name">name : </label>
    <input formControlName="name" type="text" id="name">
  </div>
  <br>
  <div class="flex-row form-group">
    <label for="priority">priority : </label>
    <ion-list lines="none">
      <ion-radio-group formControlName="priority" [value]="this.init.priority" class="flex-row">
        <ion-item *ngFor="let choice of priority_choices">
          <ion-label><app-priority-icon [priority]="choice"></app-priority-icon></ion-label>
          <ion-radio slot="start" [value]="choice"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- <select formControlName='priority' class="priority{{form.value.priority}}">
      <option *ngFor="let choice of priority_choices" [ngValue]="choice" class="priority-{{choice}}">
        {{choice}}
      </option>
    </select> -->
    <!-- <input formControlName='priority' type="number" class="form-control" id="priority"> -->
  </div>
  <br>
  <div class="form-group">
    <label for="time">time : </label>
    <input formControlName="time" type="number" id="time">
  </div>
  <br>
  <div class="flex-row form-group">
    <label for="repetition">repetition : </label>
    <ion-list lines="none">
      <ion-radio-group formControlName="repetition" [value]="this.init.repetition" class="flex-row">
        <ion-item *ngFor="let choice of repetition_choices">
          <ion-label>{{choice}}</ion-label>
          <ion-radio slot="start" [value]="choice"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- <select formControlName='repetition'>
      <option *ngFor="let choice of repetition_choices" [ngValue]="choice">
        {{choice}}
      </option>
    </select> -->
    <!-- <input type="text" class="form-control" id="repetition"> -->
  </div>
  <br>
  <div class="form-group">
    <label for="repetition_hour">hour of reset (24h clock): </label>
    <input formControlName='repetition_hour' type="text" id="repetition_hour">
  </div>
  <br>
  <div class="form-group flex-row">
    <label for="repetition_day">day of reset (only for weekly repetition): </label>
    <!-- <input formControlName='repetition_day' type="text" id="repetition_day"> -->

    <ion-list lines="none">
      <ion-radio-group formControlName="repetition_day" [value]="this.init.repetition_day" class="flex-row">
        <ion-item *ngFor="let day of days; let index = index">
          <ion-label>{{day}}</ion-label>
          <ion-radio slot="start" [value]="index"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

  </div>
  <br>
  <!-- <ion-button type="submit"
    slot="fixed" class="right-btn"
    routerLink="/preparation"
  >Confirm</ion-button> -->
  <!-- <p>invalid: {{form.invalid}}</p> -->
</form>

