<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="take-action">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Action</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preparation">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Prep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
