* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}


// .header-top {
//   margin: 10px;
// }

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.tab-bar {
  background-color: rgb(196, 231, 255);
}
// .nav-tabs {
//   justify-self: flex-end;
  // margin-top: 50%;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // justify-content: center;
  // align-items: center;


// }

// .middle-content {
//   margin-top: 20%;
// }

.action-card {
  width: 100%;
  height: 11em;
}
.margin-bot {
  margin: 7em;
}
